Screen {
  background: dimgrey;
}

#app-grid {
  layout: grid;
  grid-size: 2 3;
}

Static {
  border: solid yellow;
  content-align: center middle;
}

#left-pane {
  dock: left;
  height: 100%;
  width: 15;
}

#output {
  background: slategrey;
	height: 100%;
}
